@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0d0d0d;
  color: #e0e0e0;
}

#root {
  height: 100vh;
  display: flex;
}
